/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
}
/* name selector */
body{
    background-color: rgb(254, 5, 5);
}
/* Id selector */
#admin-box{
background-color:#1511dfbe;
color: rgb(254, 5, 5);
width: 60%;
text-align: center;
margin: 100px auto 0px;
padding: 10px;
border-radius: 20px;
box-shadow: 8px 8px 10px rgb(218, 151, 151);
}
/* decedent selector */
#admin-box h1{
font-size: 45px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
margin-top: 10px ;
}
/* name selector */
select{
    margin: 5px auto;
    background-color:rgb(116, 243, 19);
    opacity: 70%; 
}
option{
    color:rgba(254, 14, 14, 0.917);
    }

form{
    margin: 40px 0px;
}

/* grouping selector */
label,input{
display: block;
font-size: 20px ;
color: rgb(223, 242, 17);
}
input{
width: 50%;
margin: 5px auto;
padding: 8px;
background-color: transparent;
color: rgb(14, 237, 204);
border: 2px solid rgb(254, 5, 5) ;
}
#btn{
    font-size: 25px;
    margin-top: 10px;
    transition: ease-in-out 0.5s;
}
#btn:hover{
background-color: rgb(90, 4, 4);
color: rgb(254, 5, 5) ;
}
label{
    font-size: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
/* class selector */
.p-text{
font-size: 20px;
text-transform: Arial, Helvetica, sans-serif ;
color: blanchedalmond;
margin-bottom: 10px;
}
/* decedent selector */
.p-text a{
text-decoration: none;
color: rgb(60, 202, 53);
text-transform: uppercase;
}